#container {
    border: 2px solid #dedede;
    padding: 20px;
    width: 90%;
    margin-top: 5%;
}


input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #A9A9A9;
    color: black;
    border-radius: 10px;
}

#text {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #A9A9A9;
    color: black;
    border-radius: 10px;
}

.button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #A9A9A9;
    border: none;
    border-radius: 13px;
    box-shadow: 0 3px #999;
}
.button:active {
    background-color: #A9A9A9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}