#outContainer {
    border: 2px;
    width: 90%;
	height: auto;
	margin: auto;
    margin-top: 10%;
}

#container {
    border: 2px solid #dedede;
    padding: 20px;
    width: 83%;
    margin-top: 5%;
	margin-left: 10%;
}
#chatBox{
    background-color: white;
    word-wrap: break-word;
    border:10px;
    solid: #00F;
    height: 60%;
    overflow-y: auto;
    border-radius: 10px;
}

#allPosts{
    background-color: white;
    border:2px;
    solid: #00F;
	width: 74%;
    border-radius: 10px;
}

#recentPost{
    background-color: #A9A9A9;
    word-wrap: break-word;
    border:2px;
    solid: #00F;
	width: 24%;
	height: 90%;
    overflow-y: auto;
	float: right;
    border-radius: 10px;
}

#postContent{
    background-color: #A9A9A9;
    word-wrap: break-word;
    border:2px;
    solid: #00F;
	width: 74%;
	height: 140%;
    overflow-y: auto;
    border-radius: 10px;
}

#displayBox{
    word-wrap: break-word;
    border:10px;
    solid: #00F;
    height: 100px;
    overflow-y: auto;
    border-radius: 10px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #A9A9A9;
    color: black;
    border-radius: 10px;
}

#text {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #A9A9A9;
    color: black;
    border-radius: 10px;
}

.button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #A9A9A9;
    border: none;
    border-radius: 13px;
    box-shadow: 0 3px #999;
}
.button:active {
    background-color: #A9A9A9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}