body {
    margin: 0 auto;
    padding: 0 40px;
    background: linear-gradient(to right,  #212529, #777777)
}
#container {
    border: 5px solid #dedede;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
#chatBox{
    background-color: white;
    word-wrap: break-word;
    border:10px;
    solid: #00F;
    height: 500px;
    overflow-y: auto;
    border-radius: 10px;
}
#selectedMsg{
    background-color: #aba6bf;
    word-wrap: break-word;
    border:10px;
    solid: #00F;
    height: 200px;
    overflow-y: auto;
    border-radius: 10px;
}
input[type=text], input[type="email"], input[type="password"], input[type="id"] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #dfd7d7;
    color: black;
    border-radius: 10px;
}


#text {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #dfd7d7;
    color: black;
    border-radius: 10px;
}

.button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #dfd7d7;
    border: none;
    border-radius: 13px;
    box-shadow: 0 3px #999;
}
.button:active {
    background-color: #dfd7d7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#select {
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #dfd7d7;
    color: black;
    border-radius: 10px;
}