body {
    margin: 0 auto;
    padding: 0 40px;
}
.container {
    border: 2px solid #dedede;
    background-color: #E6E6FA;
    border-radius: 30px;
    padding: 20px;
    width: 90%;
}
#chatBox{
    background-color: white;
    word-wrap: break-word;
    border:10px;
    solid: #00F;
    height: 700px;
    overflow-y: auto;
    border-radius: 10px;
}
#selectedMsg{
    background-color: #aba6bf;
    word-wrap: break-word;
    border:10px;
    solid: #00F;
    height: 200px;
    overflow-y: auto;
    border-radius: 10px;
}
input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #dfd7d7;
    color: black;
    border-radius: 10px;
}
.button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #595775;
    border: none;
    border-radius: 13px;
    box-shadow: 0 3px #999;
}
.button:active {
    background-color: #595775;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#select {
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #dfd7d7;
    color: black;
    border-radius: 10px;
}